<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>MarkSheet Data</title>
</head>

<body>
  <h1 class="text-center">MarkSheet</h1>
  <div class="container">
    <table class="table table-bordered" border="2">
      <thead class="table-dark">
        <tr>
          <th scope="col">Sr No</th>
          <th scope="col">Subject</th>
          <th scope="col">Marks</th>
        </tr>
      </thead>
      <tbody id="table_body">

      </tbody>
    </table>
  </div>

  <script src="{{url_for('static', filename='script.js' )}}"></script>
</body>

</html>